.companyName{
  font-size: 150%;
}

.mat-toolbar{
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
  min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  font-size: 200%;
}
